@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}



@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 6.7%;
    --card: 0 0% 98%;
    --card-foreground: 0 0% 6.7%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 6.7%;
    --primary: 0 84.2% 60.2%;
    --primary-foreground: 0 0% 100%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 6.7%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 221.2 83.2% 53.3%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 72% 51%;
    --destructive-foreground: 0 0% 100%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 84.2% 60.2%;
    --radius: 0.75rem;
  }

  .dark {
    --background: 0 0% 14.9%;
    --foreground: 0 0% 89.8%;
    --card: 0 0% 12.2%;
    --card-foreground: 0 0% 89.8%;
    --popover: 0 0% 14.9%;
    --popover-foreground: 0 0% 89.8%;
    --primary: 217.2 91.2% 59.8%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 0 0% 20%;
    --secondary-foreground: 0 0% 89.8%;
    --muted: 0 0% 20%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 84.2% 60.2%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 100%;
    --border: 0 0% 22.7%;
    --input: 0 0% 22.7%;
    --ring: 217.2 91.2% 59.8%;
  }
}